pytest
pytest-pycodestyle
pytest-cov
pytest-xdist
coverage
bids>=0.0
nipype
naplib
EDFlib-Python
git+https://github.com/Aaronearlerichardson/mne-python.git@1.4
mne-bids
numpy
matplotlib
scipy
scikit-image
pandas
joblib
psutil
pyvistaqt
pytz
tqdm
h5io
dipy