pytest
pytest-pycodestyle
pytest-cov
pytest-xdist
coverage
bids>=0.0
nipype
naplib
EDFlib-Python
mne
mne-bids
numpy
matplotlib
scipy
scikit-image
pandas
joblib>=1.3
numba
psutil
pyvistaqt
pytz
tqdm
h5io
dipy
mne-qt-browser