pytest
pytest-pycodestyle
pytest-cov
pytest-xdist
coverage
bids>=0.0
nipype
naplib
EDFlib-Python
mne-python/
mne-bids
numpy
matplotlib
scipy
scikit-image
pandas
git+https://github.com/joblib/joblib.git
psutil
pyvistaqt
pytz
tqdm
h5io
dipy