# This workflow will install Python dependencies, run tests and lint with pycodestyle
name: Python (3.10 and 3.11) on Windows/Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.10.*, 3.11.*]
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: test
          environment-file: envs/environment.yml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
      - name: Install off screen dependencies
        run: |
          conda install -c conda-forge "vtk>=9.2=*osmesa*" "mesalib=21.2.5"
      - name: Display environment
        run: |
          conda info
          conda list
      - name: Test with pytest
        run: |
           pytest ieeg -v --cov=. --pycodestyle --cov-report xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3