name: MATLAB (Latest) on Ubuntu
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  my-job:
    name: Run MATLAB Tests and Generate Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1
      - name: Run tests and generate artifacts
        uses: matlab-actions/run-tests@v1
        with:
          source-folder: MATLAB
          select-by-folder: MATLAB/tests
          test-results-junit: test-results/results.xml
          code-coverage-cobertura: code-coverage/coverage.xml